@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Sen:wght@400;700;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Sen', sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: #2ed9ff;
  background-size: cover;
  background-repeat: no-repeat;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content; }

.heading-1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }

.todo__heading-1 {
  font-size: 3rem;
  margin: 4rem auto;
  letter-spacing: 0.5rem; }

.popup__heading-1 {
  margin: 2rem 0;
  font-size: 2.5rem;
  letter-spacing: normal; }

.text-center {
  text-align: center; }

.mt {
  margin-top: 1rem; }

.ml {
  margin-left: 1rem; }

.mr {
  margin-right: 1rem; }

.mb {
  margin-bottom: 1rem; }

.mb-l {
  margin-bottom: 5rem; }

.fill {
  width: 100%; }

.todo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45rem;
  height: 60rem;
  border-radius: 0.5rem;
  background-color: #343a3f;
  display: grid;
  grid-template-rows: repeat(2, -webkit-max-content) 1fr;
  grid-template-rows: repeat(2, max-content) 1fr;
  justify-items: center; }
  @media only screen and (max-width: 23.75em) {
    .todo {
      width: 90vw;
      height: 80vh; } }
  .todo__icon {
    width: 1.5rem;
    height: 1.5rem;
    background: none;
    border: none; }
    .todo__icon--list {
      margin: 0 1rem;
      fill: #7d8185; }
    .todo__icon svg {
      height: 100%;
      width: 100%;
      fill: #ff4848;
      transition: all 0.3s;
      cursor: pointer; }
      .todo__icon svg:hover {
        transform: translateY(-1px); }
    .todo__icon--close:link, .todo__icon--close:visited {
      color: #7d8185;
      position: absolute;
      top: 5%;
      left: 90%;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block; }
  .todo__container {
    display: grid;
    grid-template-rows: -webkit-min-content;
    grid-template-rows: min-content;
    justify-items: center;
    margin: 1rem 0;
    width: 98%;
    overflow-y: auto;
    /* Track */
    /* Handle */ }
    .todo__container::-webkit-scrollbar {
      width: 0.5rem; }
    .todo__container::-webkit-scrollbar-track {
      background-color: #343a3f;
      border-radius: 1rem; }
    .todo__container::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.733);
      border-radius: 1rem; }
  .todo__c {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .todo__lists {
    width: 100%;
    list-style: none; }
  .todo__item {
    margin: 0 1.5rem;
    padding: 1rem 0;
    display: grid;
    grid-template-rows: -webkit-max-content 1fr;
    grid-template-rows: max-content 1fr;
    align-items: center; }
  .todo__item--title-box {
    font-weight: 700;
    display: grid;
    grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
    grid-template-columns: max-content 1fr max-content;
    align-items: center; }
  .todo__item--description {
    margin: 0.5rem 2.5rem; }
    .todo__item--description-note {
      color: rgba(255, 255, 255, 0.3);
      font-size: 1.4rem; }
  .todo__checkbox {
    margin-right: 0.5rem; }
  .todo__item {
    font-size: 1.5rem;
    cursor: default; }
  .todo__no-data {
    width: 20rem; }
    @media only screen and (max-width: 25em) {
      .todo__no-data {
        width: 17rem; } }
    @media only screen and (max-width: 11.313em) {
      .todo__no-data {
        width: 12rem; } }

.complete {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: line-through; }

.btn {
  font-family: "Sen", sans-serif;
  color: #fff;
  border-radius: 0.5rem;
  background-color: #343a3f;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: start; }
  .btn-add {
    margin: 0 1.5rem;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    text-decoration: none;
    border: 0.2rem solid #2d2d2d; }
  .btn__submit {
    padding: 1rem 2rem;
    border: 0.2rem solid #2d2d2d; }
  .btn:hover {
    background-color: #3c4249; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 3000;
  background-color: #343a3f;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 38rem;
    height: 40rem;
    background-color: #3c4249;
    border-radius: 0.5rem; }
    @media only screen and (max-width: 23.75em) {
      .popup__content {
        width: 90vw;
        height: 45vh; } }

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-rows: repeat(2, -webkit-max-content);
  grid-template-rows: repeat(2, max-content);
  align-items: center;
  justify-items: end; }
  .form__group:not(:last-child) {
    margin: 2rem 0; }
    @media only screen and (max-width: 23.75em) {
      .form__group:not(:last-child) {
        margin: 1rem 0; } }
  .form__lable {
    font-size: 1.8rem;
    font-weight: 400;
    display: block;
    transition: all 0.3s; }
  .form__group--title {
    display: grid;
    grid-template-columns: repeat(2, -webkit-min-content);
    grid-template-columns: repeat(2, min-content);
    align-items: center;
    justify-items: center; }
  .form__group--description {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, -webkit-min-content);
    grid-template-rows: repeat(2, min-content);
    align-items: center;
    justify-items: start; }
  .form__textarea, .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: rgba(255, 255, 255, 0.5);
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    border: solid 2px #2d2d2d;
    background-color: #343a3f;
    outline: none;
    overflow: hidden; }
  .form__textarea {
    resize: none;
    width: 99%;
    height: 10rem;
    padding: 0; }
  .form__textarea::-webkit-scrollbar {
    width: 0.5rem; }
  .form__textarea::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.3); }
  .form__textarea::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 1rem; }

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2rem;
  width: 2rem;
  background-color: #343a3f;
  border: solid 0.2rem #2d2d2d;
  border-radius: 0.3rem;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center; }

input[type="checkbox"]:after {
  display: none;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  font-size: 1rem;
  color: #5acc00; }

input[type="checkbox"]:checked {
  background-color: #343a3f; }

input[type="checkbox"]:checked:after {
  display: inline-block; }

.icon {
  padding: 10rem;
  background-color: red;
  border-radius: 100rem; }
